:root {
    --left-bar-width: 3.5vw;

    --padding-left: 36px;
    --padding-top: 34px;

    --border: 0.5px solid #d8d8d8;

    --bg-color: #ebebeb;

    --content-font-size: 17px;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

::selection {
    color: #ffffff;
    background: #000000;
}

a {
    color: #000000;
    font-weight: 500;
    text-decoration: underline solid #00000000;
    transition: all ease-out 0.1s;
} a:hover {
    text-decoration: underline solid #000000;
}

.panel-left ol {
    counter-reset: my-awesome-counter;
    list-style: none;
    padding: 0 var(--padding-left) 0 calc(2*var(--padding-left));
}
.panel-left ol li {
    margin: 16px 0 16px 0;
    counter-increment: my-awesome-counter;
    position: relative;
}
.panel-left ol li::before {
    content: counter(my-awesome-counter);
    font-size: 14px;
    font-weight: 500;
    color: #5e5e5e;
    position: absolute;
    left: calc(-1*var(--padding-left));
    top: 2px;
    text-align: center;
}
  

.left-bar {
    position: fixed;
    top: 0;
    width: var(--left-bar-width);
    height: 100vh;
    background: var(--bg-color);
    z-index: 100;
    border-right: var(--border);
}
.left-bar .logo {
    font-size: 1.8vw;
    padding-top: 0.2vw;
    font-weight: 500;
    text-align: center;
    margin: 0.5vw;
    height: calc(var(--left-bar-width) - 2*0.5vw);
    width: calc(var(--left-bar-width) - 2*0.5vw);
    background-color: #000000;
    color: #ffffff;
}





.wrapper {
    position: fixed;
    top: 0;
    left: var(--left-bar-width);
    width: calc(100vw - var(--left-bar-width));
    height: 100vh;
    background: var(--bg-color);
}
.panel-left {
    height: 100vh;
}
.panel-right {
    height: 100vh;
    border-left: var(--border);
}
.wrapper .top-bar {
    height: 8vh;
    width: 100%;
    border-bottom: var(--border);
}
.wrapper .top-posts-wrapper {
    height: 52vh;
    border-bottom: var(--border);
} .wrapper .top-posts-wrapper .top-post-link {
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    text-decoration: underline solid #00000000;
    transition: all ease-out 0.1s;
} .wrapper .top-posts-wrapper .top-post-link:hover {
    text-decoration: underline solid #000000;
} 
.wrapper .new-updates-wrapper {
    height: 32vh;
    border-bottom: var(--border);
}
.wrapper .new-updates-wrapper .update {
    font-size: 14px;
    margin: 16px var(--padding-left);
}
.wrapper .new-updates-wrapper .update .update-tag {
    color: #ffffff;
    background: #000000;
    width: 84px;
    padding: 4px 0;
    font-size: 10px;
    font-weight: 500;
    margin-right: 8px;
    text-align: center;
    position: relative;
    bottom: 2px;
    float: left;
}
.wrapper .footer {
    height: 8vh;
}
.wrapper .latest-posts {
    height: calc(100vh - 4vh);
    overflow: scroll;
    padding: 0;
}



.post-1 {
    padding: var(--padding-top) var(--padding-left);
    border-bottom: var(--border);
    transition: all linear 0.2s;
}
.post-1 .categories {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.8px;
    margin: 0 20px 0 0;
    padding: 8px 0 0 0;
    width: 120px;
    height: 28px;
    text-align: center;
    text-transform: uppercase;
    background: #000000;
    color: #ffffff;
    float: left;
}
.post-1 .date {
    font-size: 12px;
    font-weight: 500;
    padding: 7px 0 0 0;
    height: 28px;
}
.post-1 h2 {
    font-size: 24px;
    margin: 10px 0 10px 0;
    color: #000000;
    text-decoration: underline solid #00000000;
    transition: all ease-out 0.1s;
} .post-1 h2:hover {
    text-decoration: underline solid #000000;
}
.post-1 .post-preview {
    font-size: 14px;
    font-weight: 400;
    line-height: 1.8;
    letter-spacing: 0.1px;
    color: #818181;
    text-align: justify;
}


[class*="top-text"] {
    color: #1d1d1d;
    font-size: 2.2vh;
    font-weight: 500;
    padding: 2.6vh 0 0 var(--padding-left);
}
.top-text-1 {
    float: left;
}
.top-text-2 {
    text-transform: uppercase;
    float: right;
    margin-right: var(--padding-left);
}
[class*="footer-text"] {
    color: #242424;
    font-size: 1.6vh;
    font-weight: 400;
    padding: 2.8vh 0 0 var(--padding-left);
}
.footer-text-1 {
    float: left;
}
.footer-text-2 {
    text-transform: uppercase;
    float: right;
    margin-right: var(--padding-left);
}





#snackbar {
    font-size: 14px;
    line-height: 1.8;
    visibility: hidden;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
    position: fixed;
    padding: 20px 28px;
    z-index: 1;
    right: var(--padding-left);
    top: 10vh;
    transition: all linear 0.3s;
    opacity: 0.0;
  }
  #snackbar.show {
    visibility: visible;
    opacity: 1.0;
  }







#myBtn {
    cursor: pointer;
    position: fixed;
    top: 40vh;
    padding: 4vh 0;
    width: var(--left-bar-width);
    font-size: 4vh;
    text-align: center;
    color: #2b2b2b;
}
.modal {
    visibility: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* background-color: rgb(0,0,0); */
    /* background-color: rgba(0,0,0,0.8); */
    /* transition: all ease 1s; */
}
.modal-content {
    position: relative;
    background-color: var(--bg-color);
    left: calc(-50vw + var(--left-bar-width)/2);
    border-right: var(--border);
    height: 100vh;
    width: calc(1px + 50vw - var(--left-bar-width)/2);
    transition: all ease 0.8s;
}
.modal-content .top-bar {
    height: 8vh;
    width: 100%;
    border-bottom: var(--border);
}
.modal-content .content {
    height: calc(100vh - 8vh);
    width: 100%;
    padding: 3vh var(--padding-left);
}
.modal-content .content .cate-wrap {
    padding: 0 1vw 1vw 0;
}
.modal-content .content .cate {
    height: 5vh;
    width: 100%;
    background: #000000;
    color: #ffffff;
    text-align: center;
    padding-top: 1.5vh;
    font-size: 1.7vh;
    font-weight: 600;
    letter-spacing: 2px;
}
.some-links a {
    font-weight: 400;
    font-size: 14px;
}
.fhs a {
    font-weight: 400;
    filter: grayscale(1.0); 
}








.post-main {
    height: calc(100vh - 5vh);
    padding: 0 28%;
    overflow: scroll;
}
.post-main h1 {
    margin: 24px 0;
    font-weight: 700;
    text-align: left;
}
.post-main h2 {
    margin: 16px 0;
    font-weight: 700;
}
.post-main h3 {
    margin: 16px 0;
    font-weight: 600;
}
.post-main h4 {
    margin: 16px 0;
    font-weight: 500;
}
.post-main h5 {
    margin: 24px 0;
    font-weight: 400;
}
.post-main h6 {
    margin: 16px 0;
    font-weight: 400;
}
.post-main .categories {
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 0.8px;
    margin: 0px 20px 0 0;
    padding: 8px 0 0 0;
    width: 120px;
    height: 28px; /*Adjust cate-fix*/
    text-align: center;
    text-transform: uppercase;
    background: #000000;
    color: #ffffff;
    float: left;
} .post-main .categories-fix {
    width: 100%;
    height: 28px;
}
.post-main .post-content {
    line-height: 1.7;
    font-size: var(--content-font-size);
    text-align: justify;
} 
.post-main .post-content p {
    font-size: var(--content-font-size);
    margin-bottom: 12px;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
    pointer-events: none;
}
.post-main .post-content a {
    font-size: var(--content-font-size);
    margin-bottom: 12px;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    -o-user-select: all;
    user-select: text;
    pointer-events: all;
}
.post-main .post-content .highlighter-rouge {
    font-size: 15px;
    background: #00000017;
    margin: 16px 0;
    padding: 2px 6px;
    border-radius: 3px;
    font-family: 'Roboto Mono', monospace !important;
    color: #bf616a;
    -webkit-user-select: all;
    -khtml-user-select: all;
    -moz-user-select: all;
    -ms-user-select: all;
    -o-user-select: all;
    user-select: text;
    pointer-events: all;
}
.post-main .post-content .highlight{
    /* background: #00000017; */
    line-height: 1.5;
    padding: 8px 12px;
    border-radius: 4px;
}
.post-main .post-content .highlight pre {
    text-align: left;
    white-space: pre-line;
}
.post-main .post-content .highlight pre code, 
.post-main .post-content .highlight pre code span {
    font-size: 14px;
    font-family: 'Roboto Mono', monospace !important;
}
.post-main img {
    width: 100%;
}
.post-main blockquote {
    padding-left: 24px;
    border-left: 4px solid #c0c0c0;
    font-style: italic;
}
.post-main .task-list {
    list-style: none;
}
.post-main .task-list .task-list-item-checkbox {
    position: relative;
    left: -12px;
}


.post-main table {
    border-collapse: collapse;
    width: 100%;
}
.post-main table td, .post-main table th {
    border: 1px solid #c4c4c4;
    padding: 6px 12px;
}
.post-main table tr:nth-child(even){
    background-color: #f2f2f2;
}
.post-main table tr:hover {
    background-color: #dddddd;
}
.post-main table th {
    text-align: left;
    background: #000000;
    color: white;
}


.post-main .post-content ul {
    padding: 0 0 0 20px;
}
.post-main .post-content ul li {
    position: relative;
}
.post-main .post-content ol {
    padding: 0 0 0 20px;
}
.post-main .post-content ol li {
    position: relative;
}