<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ site.description }}" />
    <link rel="shortcut icon" href="./favicon.png">
    {% if site.tags != "" %}
    {% include collecttags.html %}
    {% endif %}
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
    <!-- Library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Creatoper Library -->
    <script src="../creatoper/creatoper.js" defer></script>
    <link href="../creatoper/creatoper.css" rel="stylesheet">
    <!-- <script src="https://unpkg.com/creatoper@1.0.2/creatoper.js" defer></script>
    <link href="https://unpkg.com/creatoper@1.0.2/creatoper.css" rel="stylesheet"> -->
    <link href="../creatoper/creatoper-control.css" rel="stylesheet">
    <!-- Custom CSS and JS -->
    <script src="../scripts.js" defer></script>
    <link href="../styles.css" rel="stylesheet">
</head>