<!-- The Modal -->
<div id="myModal" class="modal">
    <div class="modal-content">
        <div class="top-bar">
            <div class="top-text-1">
                DASHBOARD
            </div>
        </div>

        <div class="content">
            <div class="top-text" style="padding: 0 0 2.5vh 0;">
                ALL CATEGORIES
            </div>
            <div class="row-4">
                <div class="col cate-wrap">
                    <a href="/blog/tag/technology">
                        <div class="cate">
                            TECHNOLOGY
                        </div>
                    </a>
                </div>
                <div class="col cate-wrap">
                    <a href="/blog/tag/experience">
                        <div class="cate">
                            EXPERIENCE
                        </div>
                    </a>
                </div>
                <div class="col cate-wrap">
                    <a href="/blog/tag/tutorial">
                        <div class="cate">
                            TUTORIAL
                        </div>
                    </a>
                </div>
                <div class="col cate-wrap">
                    <a href="/blog/tag/web">
                        <div class="cate">
                            WEB
                        </div>
                    </a>
                </div>
                <div class="col cate-wrap">
                    <a href="/blog/tag/ai">
                        <div class="cate">
                            AI
                        </div>
                    </a>
                </div>
            </div>
            <div class="top-text" style="padding: 1vh 0 2.5vh 0;">
                SOME LINKS THAT MAYBE USEFUL
            </div>
            <div class="some-links">
                <a href="#" target="_blank">
                    If you wonder who I am.
                </a>
                <br>
                <a href="#" target="_blank">
                    If you have found a bug in this website.
                </a>
                <br>
                <a href="#" target="_blank">
                    If you want to relax and draw pixel arts.
                </a>
                <br>
                <a href="#" target="_blank">
                    If you want to create a responsive web using the easiest library.
                </a>
                <br>
                <a href="#" target="_blank">
                    If you want to create a simple resume.
                </a>
                <br>
                <a href="#" target="_blank">
                    If you want to contribute a post.
                </a>
                <br>
            </div>


            <div class="anti-copy" style="bottom: 5vh; font-size: 12px; position: absolute;">
                <div style="float: left;" class="fhs">
                    {{ site.posts | size }} POSTS |
                    <script language="JavaScript">var fhsh = document.createElement('script'); var fhs_id_h = "3360272";
                        fhsh.src = "//freehostedscripts.net/ocount.php?site=" + fhs_id_h + "&name=&a=1";
                        document.head.appendChild(fhsh); document.write("<span id='h_" + fhs_id_h + "'></span>");
                    </script>
                </div>
                &nbsp;TOTAL VIEWS | SINCE 2020
            </div>
            <div style="bottom: 5vh; right: var(--padding-left); font-size: 12px; position: absolute;">
                Thanks for reading and following my journey!
            </div>
        </div>



    </div>
</div>
<div class="left-bar">
    <a href="/blog/">
        <div class="logo">
            B
        </div>
    </a>
    <!-- Trigger/Open The Modal -->
    <div id="myBtn">
        <i class="fas fa-grip-lines-vertical"></i>
    </div>
</div>