<!-- Scroll To Top  -->
<div class="just-display-on-desktop">
    <button onclick="scrollToTop()" id="scrolltotop" class="just-display-on-desktop">&nwarr;</button>
</div>

<!-- Top Nav on mobile -->
<div class="top-nav just-display-on-mobile">
    <div
        style="font-size: 24px; font-weight: 600; top: calc(12px + var(--offset-top));text-align: center; position: relative;">
        Creatoper
    </div>
</div>

<!-- Bottom Nav on mobile -->
<div class="bottom-nav just-display-on-mobile">
    <div class="mobile-row-3">
        <div class="col">
            <a href="/">
                <div class="nav-button">
                    <img src="../assets/icons/bookmark.svg" class="nav-icon">
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/">
                <div class="nav-button">
                    <img src="../assets/icons/home.svg" class="nav-icon">
                </div>
            </a>
        </div>
        <div class="col">
            <a href="/">
                <div class="nav-button">
                    <img src="../assets/icons/user.svg" class="nav-icon">
                </div>
            </a>
        </div>
    </div>
</div>