<div class="panel-left">
    <div class="top-bar">
        <div class="top-text-1">
            THE JOURNALS
        </div>
        <div class="top-text-2">
            <script>
                var d = new Date();
                var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
                document.write(months[d.getMonth()]);
                document.write(" ");
                document.write(d.getDate());
                document.write(", ");
                document.write(d.getFullYear());
            </script>
        </div>
    </div>
    <div class="top-posts-wrapper">
        <div class="row-2">
            <div class="col">
                <div class="top-text">
                    TOP POSTS
                </div>
                <ol>
                    <li>
                        <a href="#" class="top-post-link">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </a>
                    </li>
                    <li>
                        <a href="#" class="top-post-link">
                            Phasellus ut ante iaculis, hendrerit risus a, cursus nisi.
                        </a>
                    </li>
                    <li>
                        <a href="#" class="top-post-link">
                            Sed egestas turpis sed ipsum egestas auctor.
                        </a>
                    </li>
                    <li>
                        <a href="#" class="top-post-link">
                            Nunc nec sollicitudin libero turpis.
                        </a>
                    </li>
                    <li>
                        <a href="#" class="top-post-link">
                            Cras vel ligula dignissim, ultrices nisl non, auctor velit.
                        </a>
                    </li>
                </ol>
            </div>
            <div class="col" style="height: 52vh; border-left: var(--border);">
                <div class="top-text">
                    TOP SERIES
                </div>
                <ol>
                    <li>
                        <a href="#" class="top-post-link">
                            Cras scelerisqu tellus et consectetur.
                        </a>
                    </li>
                    <li>
                        <a href="#" class="top-post-link">
                            Phasellus accumsan leo et rutrum sodales.
                        </a>
                    </li>
                    <li>
                        <a href="#" class="top-post-link">
                            Donec dolor massa, molestie euismod eleifend quis, cursus eu ligula.
                        </a>
                    </li>
                    <li>
                        <a href="#" class="top-post-link">
                            Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        </a>
                    </li>
                    <li>
                        <a href="#" class="top-post-link">
                            Pellentesque elementum at nulla ac semper.
                        </a>
                    </li>
                </ol>
            </div>
        </div>

    </div>
    <div class="new-updates-wrapper">
        <div class="top-text">
            NEW UPDATES
        </div>
        <div class="update">
            <div class="update-tag">RELEASED</div>
            Creatoper.css and Creatoper.js v1.4.0 has been released.
        </div>
        <div class="update">
            <div class="update-tag">AVAILABLE</div>
            <a href="https://buiquangbao.github.io/pixelax/" target="_blank">PIXELAX</a> is available
            now.
        </div>
        <div class="update">
            <div class="update-tag">RELEASED</div>
            Creatoper.css and Creatoper.js v1.3.9 has been released.
        </div>
        <div class="update">
            <div class="update-tag">RELEASED</div>
            Creatoper.css and Creatoper.js v1.3.8 has been released.
        </div>
        <div class="update">
            <div class="update-tag">RELEASED</div>
            Creatoper.css and Creatoper.js v1.3.7 has been released.
        </div>
    </div>
    <div class="footer">
        <div class="footer-text-2" style="text-transform: initial;">
            <script>document.write(new Date().getFullYear())</script>
            &copy;
            <a style="font-weight: 400;" href="http://buiquangbao.github.io/" target="_blank">
                Bui Quang Bao
            </a>
        </div>
        <div class="footer-text-1">
            <a href="https://youtu.be/_mkiGMtbrPM" target="_blank" style="font-weight: 400;">
                HAVE A NICE DAY!
            </a>
        </div>
    </div>
</div>