<script>
    // Darkmode
    function enableDarkMode() {
        document.body.classList.add("darkmode");
        localStorage.setItem("isDarkMode", "true");
        document.getElementById("darkmodeCheck").checked = true;
    }
    function disableDarkMode() {
        document.body.classList.remove("darkmode");
        localStorage.setItem("isDarkMode", "false");
        document.getElementById("darkmodeCheck").checked = false;
    }
    let isDarkMode = localStorage.getItem("isDarkMode");
    if (isDarkMode === "true") {
        enableDarkMode();
        document.getElementById("darkmodeCheck").checked = true;
    }
    const darkmodeButton = document.querySelector(".darkmode-button");
    darkmodeButton.addEventListener("click", function () {
        isDarkMode = localStorage.getItem("isDarkMode");
        isDarkMode === "true" ? disableDarkMode() : enableDarkMode();
    });
</script>

<!-- <script src="../darkmode.js"></script> -->
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script> -->
<script src="https://unpkg.com/creatoper@1.1.2/creatoper.js" defer></script>
<!-- <script src="../creatoper/creatoper.js" defer></script> -->
<script src="../scripts.js" defer></script>