<div style="margin-bottom: 2vh;">
    <div style="font-weight: 500;">
        {{page.series}}
    </div>
    <div style="font-size: 13px;">
        {% if page.series == "RWD101" %}
        Responsive Web Design Fundamental
        {% endif %}
        {% if page.series == "NPM101" %}
        Publishing NPM Package
        {% endif %}
    </div>
</div>
<ol style="margin-bottom: 2vh;">
    {% for post in site.posts reversed%}
    <a href="{{post.url}}" style="text-decoration: none; font-weight: 400;">
        <div class="post-in-series" style="
        {% if page.series != post.series or page.series == null %} display: none; {% endif %}
        ">
            <li style="
            {% if page.url == post.url %} color: var(--accent); font-weight: 500;{% endif %}
            ">
                {{ post.title }}
            </li>
        </div>
    </a>
    {% endfor %}
</ol>
<div style="height: 10vh;"></div>