:root {
        /* Text System */
        --text-color: #1a1a1a;
        --font-size-0: 16px; /*p*/
        --font-size-1: 30px; /*h1*/
        --font-size-2: 26px; /*h2*/
        --font-size-3: 22px; /*h3*/
        --font-size-4: 18px; /*h4*/
        --font-size-5: 14px; /*h5*/
        --font-size-6: 12px; /*h6*/
        --font-size-mobile-0: 16px; /*p*/
        --font-size-mobile-1: 24px; /*h1*/
        --font-size-mobile-2: 20px; /*h2*/
        --font-size-mobile-3: 18px; /*h3*/
        --font-size-mobile-4: 16px; /*h4*/
        --font-size-mobile-5: 14px; /*h5*/
        --font-size-mobile-6:  12px; /*h6*/  
        /* Scroll To Top */
        --scrolltotop-size: 20px;
        --scrolltotop-color: #949494;
        --scrolltotop-hover-color: #009b9b;
        --scrolltotop-bottom-distance: 10px;
        --scrolltotop-right-margin: 10px;
        --scrolltotop-z-index: 100;
        --scrolltotop-border: none;
        --scrolltotop-outline: none;
        --scrolltotop-cursor: pointer;
        --scrolltotop-padding: 20px;
        --scrolltotop-background-color: transparent;
        /* Custom Scroll Bar */
        --scroll-bar-width: 6px;
        --scroll-bar-track-color: transparent;
        --scroll-bar-thumb-color: #888888;
        --scroll-bar-thumb-hover-color: #303030;
        /* Top Navigation Bar */
        --navbar-bg-color: transparent;
}

#test-creatopercontrol {
        color: green;
}