---

---

{% include head.html %}

<body>
    <br>
    <div>Post.html</div>
    <div id="test-scripts">> Error!</div>
    <div id="test-creatoper">> Error!</div>
    <div id="test-styles">> Green: styles.css load successfully!</div>
    <div id="test-creatopercss">> Green: creatoper.css load successfully!</div>
    <div id="test-creatopercontrol">> Green: creatoper-control.css load successfully!</div>
    <br>

    <div class="darkmode-button">
        <input type="checkbox" id="darkmodeCheck">
        <span></span>
    </div>

    <a href="/">
        Home
    </a>
    <br><br>

    {% for post in site.posts %}
    <a href="{{post.url}}" style="
    {% if page.series != post.series %} display: none; {% endif %}
    {% if page.url == post.url %} color: red; {% endif %}
    ">
        {{ post.title }}<br>
    </a>
    {% endfor %}

    <br>
    <span>
        {% for tag in page.tags %}
        {% capture tag_name %}{{ tag }}{% endcapture %}
        <a href="/tag/{{ tag_name }}">
            {{ tag_name }}
        </a>
        {% endfor %}
    </span>
    <h1>{{ page.title }}</h1>
    By
    <a href="http://buiquangbao.github.io/" target="_blank">
        {{ page.author }}
    </a>
    | {{ page.date | date: "%B %-d, %Y" }}
    {{content}}


    {% include scripts.html %}
</body>

</html>